<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetSeleniumExtras.WaitHelpers" version="3.11.0" targetFramework="net452" />
  <package id="Microsoft.PowerBI.JavaScript" version="2.8.0" targetFramework="net452" />
  <package id="SafetyNet.UIMaps.FirefoxDriver.x64" version="0.24.0" targetFramework="net452" />
  <package id="Selenium.Firefox.WebDriver" version="0.26.0" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net452" />
</packages>